.devicesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 40px ;
}
.noData_icon {
  margin-bottom: 10px;
  fill: var(--black33);
  stroke: var(--black33);
}
.noUser_text,
.noData_text {
  font-size: 20px;
}
.loading {
  text-align: center;
}