.need__login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black99)
}
.noData_icon {
  margin-bottom: 10px;
  fill: currentColor;
  stroke: currentColor;
}
.noUser_text {
  font-size: 20px;
  color: currentColor;
  text-decoration: underline;
}