.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 20px 35px;
  background-color: var(--whiteFF);
  border-radius: 12px;
  box-shadow: 0 4px 16px var(--black33);
  z-index: 1;
  user-select: none;
}
.form__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: var(--black33);
}
.form__input,
.form__button {
  font-size: 16px;
}
.form__group {
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: var(--black99);
  transition: .3s;
  font-weight: 300;
}
.form__error {
  position: absolute;
  font-size: 14px;
  color: var(--redDC);
}
.form__input[aria-invalid="true"] {
  border-color: var(--redDC);
}
.form__input {
  width: 100%;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid var(--black99);
  background-color: transparent;
  outline: none;
  transition: .3s;
}
.form__input:focus {
  border-color: var(--black33);
}
.form__button {
  margin-bottom: 20px;
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--whiteFF);
  background-color: var(--greenA8);
  outline: none;
  cursor: pointer;
  transition: .3s;
}
.form__button:focus,
.form__button:hover {
  opacity: .8;
}
.form__button:active {
  background-color: var(--green89);
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
  color: var(--blackC4);
}
.no_account {
  align-self: flex-start;
}
.link__register {
  padding-left: 5px;
}
.form__cancel {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.form__cancel_icon {
  stroke: var(--black33); 
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.input__ok,
.input__no {
  position: absolute;
  right: 0;
  top: 5px;
}
.input__ok {
  fill: var(--greenA8);
}
.input__no g {
  stroke: var(--redDC);
}