.productList__item {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}
.productList__item:nth-child(n+2) {
  border-top: 1px solid var(--black99);
}
.product__numbers {
  padding: 5px 0;
}
.product__price {
  padding-right: 5px;
  border-right: 1px solid var(--black99);
}
.product__count {
  padding-left: 5px;
}